﻿@using ExampleWebApp.Controllers;

@model List<Customer>


<h1>Lista klientów LIST</h1>

<div>

    Liczba klientów: @Model.Count

</div>


@foreach (var customer in Model)
{
    <div>
        Imie: @customer.Name
        Nazwisko: @customer.SurName
        Telefon: @customer.PhoneNumber
    </div>
}
